<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.data.Mapper.UserMapper">
    <select id="selectUserById" resultType="org.data.Entity2.User">
    select * from user where uid = #{uid}
  </select>

    <select id="selectById" resultType="org.data.Entity2.User">
    select * from user where uid = #{uid}
  </select>

    <select id="selectByIdAndUsername" resultType="org.data.Entity2.User">
    select * from user where uid = #{uid} and uname =#{uname}
  </select>
    <insert id="addUser">
        insert into user (uname,upassword)
        values(#{uname},#{upassword})
    </insert>
    <update id="updateUser">
        update user
        set uname=#{uname},upassword=#{upassword}
        where uid=#{uid}
    </update>

    <delete id="deleteById">
        delete from user
        where uid=#{uid}
    </delete>
</mapper>